.app-wrap {
  position: relative;
  width: 375px;
  height: 4516px;
  background: #191765;
}

.app-header {
  display: flex;
  width: 375px;
  height: 48px;
  left: calc(50% - 375px / 2);
  padding-top: 30px;
}

.logo {
  color: #ffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  padding-left: 15px;
  text-decoration: none;
}

.nav-bar {
  padding-left: 85%;
  width: 39.33px;
  height: 30.83px;
  left: 7.33px;
}

.ellipse {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -106px;
  background: #edecff;
  filter: blur(39px);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 327px;
  height: 738.15px;
  left: calc(50% - 327px / 2);
  top: 314px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px;
}

.primary-content {
  position: static;
  width: 327px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
}

.secondry-content {
  position: static;
  width: 327px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #e1e0f1;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
}

.simple-content {
  position: static;
  width: 303px;
  height: 170px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
}

.divisor {
  position: absolute;
  width: 327px;
  top: calc(11% - 0px / 2 + 0.5px);
  padding-top: 3px;
}

.tech-panal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 303px;
  height: 462.15px;
  left: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px;
}

.primary-panal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: static;
  width: 303px;
  height: 214.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.language-panal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.16667px;
  position: static;
  width: 111.08px;
  height: 128.67px;
  top: 38.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.framework-panal {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 156px;
  height: 214.15px;
  left: 147px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px;
}

.skill-panal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  width: 122px;
  height: 224px;
  top: 238.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1px;
  padding-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.lang-panal-head {
  position: static;
  width: 107px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-panal-head {
  position: static;
  width: 107px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill-panal-head {
  position: static;
  width: 106px;
  height: 16px;
  left: 8px;
  top: 5.33px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

li {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #f5f5ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ellipse-image {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 339px;
  top: 495px;
  background: #edecff;
  filter: blur(23px);
}

.divisor-bottom {
  position: absolute;
  top: calc(20% - 0px / 2 + 0.5px);
  display: flex;
  width: 327px;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 200px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 60px;
  padding-top: 30px;
}

.social-media-item-thumbup {
  width: 40px;
  height: 40px;
  left: 40px;
}

.social-media-item-m {
  width: 40px;
  height: 40px;
  left: 40px;
}

.social-media-item-twitter {
  width: 40px;
  height: 40px;
  left: 40px;
}

.social-media-item-fa {
  width: 40px;
  height: 40px;
  left: 40px;
}

.social-media-item-linkdin {
  width: 40px;
  height: 40px;
  left: 40px;
}

.social-media-item-fa:hover {
  background-color: cadetblue;
}

.social-media-item-linkdin:hover {
  background-color: cadetblue;
}

.social-media-item-m:hover {
  background-color: cadetblue;
}

.social-media-item-thumbup:hover {
  background-color: cadetblue;
}

.social-img-twitter:hover {
  background-color: cadetblue;
}

.work-section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  top: 1000px;
}

.arrow-line {
  display: flex;
  position: absolute;
  height: 21.3px;
  left: 146px;
  top: -15px;
}

.arrow-head {
  display: flex;
  position: absolute;
  width: 18px;
  height: 21.3px;
  left: 137px;
}

.work-text {
  color: #a2a3ae;
  padding-left: 14px;
  display: flex;
  margin: -14px;
}

.main-work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 375px;
  top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 90px;
}

.recent-work {
  position: static;
  width: 327px;
  left: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -29px;
}

.work-divisor {
  position: absolute;
  top: calc(6% - 0px / 2 + 0.5px);
}

.main-post-container {
  display: grid;
  grid-template-rows: 680px 680px 680px 680px;
  width: 375px;
  padding: 2px;
}

.main-post-container > section {
  padding: 20px;
  font-size: 18px;
  color: #dcdce8;
  font-family: 'Inter', sans-serif;
}

.tag {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 2px;
}

.work-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 101px;
  height: 57px;
  top: 421px;
  background: #7d73fc;
  color: #edecff;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 5px;
}

.work-button:hover {
  background-color: #c8c8d4;
  color: #191765;
}

.work-button:active {
  background-color: darkseagreen;
}

.work-button:visited {
  background-color: darkturquoise;
}

.ellipse-work-sec1 {
  position: absolute;
  width: 70.28px;
  height: 261.6px;
  left: -258.04px;
  top: -146.29px;
  transform: rotate(-8.38deg);
}

.ellipse-work-sec2 {
  position: absolute;
  width: 70.28px;
  height: 261.6px;
  left: 574.27px;
  top: 894.23px;
  background: #edecff;
  filter: blur(40px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.ellipse-work-sec3 {
  position: absolute;
  width: 308px;
  height: 309px;
  left: -259px;
  top: 1597px;
  background: rgba(237, 236, 255, 0.3);
  filter: blur(39px);
}

.ellipse-work-sec4 {
  position: absolute;
  width: 101.29px;
  height: 291.04px;
  left: 385.22px;
  top: 2190px;
  filter: blur(23px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
}

.contact-section {
  display: flex;
  background: #191765;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 824px;
  top: 3900px;
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  width: 327px;
  height: 164px;
  left: calc(50% - 327px / 2);
  top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 40px;
}

.contact-heading {
  position: static;
  width: 327px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
  justify-content: center;
}

.content {
  position: static;
  width: 327px;
  height: 105px;
  top: 59px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  position: static;
  width: 327px;
  height: 430px;
  left: 24px;
  top: 324px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px;
  padding-top: 10px;
}

.contact-form-divisor {
  position: absolute;
  height: 1px;
  margin: 720px;
}

.social-media-list-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 200px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 60px;
  padding-top: 441px;
}

.end-email {
  position: absolute;
  width: 221px;
  height: 29px;
  left: 76px;
  top: 777px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.name-field {
  position: absolute;
  width: 327px;
  height: 48px;
  top: calc(37% - 48px / 2);
}

.email-field {
  position: absolute;
  width: 327px;
  height: 48px;
  top: calc(47% - 48px / 2);
}

.area-field {
  position: absolute;
  width: 327px;
  height: 148px;
  top: calc(57% - 48px / 2);
}

::placeholder {
  height: 23px;
  left: 16px;
  right: 16px;
  top: calc(50% - 18px / 2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #81818c;
  padding-left: 16px;
}

.contact-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: absolute;
  width: 101px;
  height: 57px;
  top: 647px;
  background: #7d73fc;
  color: #edecff;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin-left: 100px;
}

.contact-btn:hover {
  background-color: cadetblue;
}
